html {
    scroll-behavior: smooth;
    scroll-padding-top: 65px;
}

#menu-toggle:checked ~ .overlay {
    display: block;
}

.navbar-list li {
    position: relative;
    padding: 0;
}

.navbar-list li a::after {
    content: "";
    height: 1.5px;
    width: 100%;
    background: var(--text-white);
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.2s ease;
   
}

.navbar-list li a:hover::after {
    transform-origin: bottom left;
    transform: scaleX(1);
}