@media (max-width: 992px) {

    body {
     height: auto;
    }

    #registerper {
    margin-top: 50px;
    flex-direction: column;
    }

    .registerper_img {
    margin-top: 10px;
    height: 100%;
    padding: 20px;
    }

    



    .footer_container {
    width: 100%;
    text-align: center;
    padding: 10px;
    }

}

