@media (max-width: 992px) {
  body {
    height: auto;
    margin-top: none;
  }

    .footer_container {
        width: 100%;
        text-align: center;
        padding: 10px;
        flex-direction: row;
      }   

}